body{

	margin:100px;
}
header{
	background-color: #33BEBE;
	background-size: 600px;
}
h1{
	margin-top: 20px;
	background-size: 200px;
	
	color: #eeeeee;
	font-size: 35;

	
}

p{
	color: #7C8B88;
	font-size: 35;
}
img{
	float: left;
}